<section class="bg-gradient-to-t from-[#598158] to-[#3B5A35] w-full h-full flex flex-col items-center gap-4 pt-10 font-serif">
  <div class="w-full py-5 text-white flex flex-col items-center">
    <h1 class="text-2xl font-bold text-center py-5">Listas de Presentes</h1>
    <img src="assets/alisson_e_valkiria.svg" class="px-10 py-5">
    <p class="text-center text-base pt-2 px-14 pb-10">    
      Escolha uma plataforma dentre as listas de presentes disponíveis e comece a gerar o seu presente.
    </p>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-12">
    <a href="https://www.magalu.com.br/presentes" target="_blank" class="animate-pulse p-16 bg-[url('/assets/magalu.png')] bg-contain rounded-xl shadow-xl"></a>
    <a href="https://casasbahia.com.br/presentes" target="_blank" class="animate-pulse p-16 bg-[url('/assets/casas-bahia.png')] bg-contain rounded-xl shadow-lg"></a>
    <a href="https://www.havan.com.br/presentes" target="_blank" class="animate-pulse p-16 bg-[url('/assets/havan.png')] bg-contain rounded-xl shadow-lg"></a>
    <a href="https://www.fast-shop.com.br/presentes" target="_blank" class="animate-pulse p-16 bg-[url('/assets/fast-shop.png')] bg-contain rounded-xl shadow-lg"></a>
  </div>
</section>